@import "tailwindcss";

:root {
    --background: #fbfbfb;
    --foreground: #121212; /* You can adjust this if needed */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --foreground: #ededed; /* Or any color that works well on dark */
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    transition: background 0.2s ease, color 0.2s ease;
}
